<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;900&display=swap"
            rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet" />
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    </head>
    <body>
        {%- from 'partials/navbar/macro.njk' import navbar -%}
        {{ navbar({ 
            brand: site.navigation.brand,
            menu: site.navigation.menu
         }) }}
        <header class="container">
            <h1>{{ title }}</h1>
        </header>
        <main class="container mbs">
            {{ content | safe }}
        </main>
    </body>
</html>
