.dropdown {
    position: relative;
    display: inline-block;

    &__content {
        display: none;
        position: absolute;
        z-index: 1100;
        min-width: 10rem;
        background-color: var(--color-background);
        box-shadow: var(--shadow-medium);
    }
    
    &:hover &__content,
    &:focus &__content,
    &:active &__content,
    &:focus-within &__content {
        display: flex;
        flex-direction: column;
    }
    
    &__item {
        padding: 0.5rem 0.75rem;
        white-space: nowrap;
        &:hover {
            box-shadow: var(--shadow-medium);
        }
        a {
            display: block;
        }
    }
}