.nav {
    display: flex;
    flex-direction: row;
    @media (max-width: 80ch) {
        flex-direction: column;
    }
    &__item {
        font-size: var(--font-size-h4);
        font-weight: 500;
        
        padding-left: 1rem;
        @media (max-width: 80ch) {
            padding-left: 0;
        }

        > a {
            transition: all 0.3s ease;
            text-decoration: none;
            color: var(--color-foreground);
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid var(--color-primary-dark);
                text-decoration: none;
            }
        }
    }
    &__link--active {
        border-bottom: 2px solid var(--color-grey) !important;
    }
}

