@use "sass:map";

.navbar {
    &__toggle {
        border: none;
        background-color: transparent;

        @media (min-width: 80ch) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 80ch) {
            display: none;
        }
        &-show {
            display: block;
            width: 100%;
          }
    }

    &__inner {
        --container-view: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 0;

        justify-content: left;
        flex-wrap: wrap;
        @media (max-width: 80ch) {
            justify-content: space-between;
        }
    }
    
    &__brand {
        text-decoration: none;
        img, span {
            color: var(--color-secondary);
            vertical-align: middle;
        }
    }

    .material-icons {
        font-size: var(--font-size-h3);
        line-height: inherit;
    }
}