@use "color-tokens" as *;

:root {
    @include color-tokens;
    --color-shadow: 0deg 0% 0%;
    --shadow:
    0.1px 0.6px 0.8px hsl(var(--color-shadow) / 0.04),
    0.4px 1.9px 2.5px -0.5px hsl(var(--color-shadow) / 0.05),
    0.8px 4.1px 5.4px -1px hsl(var(--color-shadow) / 0.06),
    1.9px 9.2px 12px -1.4px hsl(var(--color-shadow) / 0.08);
}

body {
    color: var(--color-text);
}