@use "color-tokens" as *;

:root {
    @include color-tokens;
    --shadow-color: 0deg 0% 65%;
    --shadow-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.24),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.24),
    0.9px 1.7px 2.2px -2.5px hsl(var(--shadow-color) / 0.24);
  --shadow-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.25),
    0.7px 1.5px 1.9px -0.8px hsl(var(--shadow-color) / 0.25),
    1.8px 3.5px 4.4px -1.7px hsl(var(--shadow-color) / 0.25),
    4.3px 8.5px 10.7px -2.5px hsl(var(--shadow-color) / 0.25);

    --color-foreground: var(--color-kol);
    --color-background: var(--color-granit);
    --color-primary: var(--color-magenta);
    --color-primary-dark: var(--color-magenta-dark);
    --color-primary-light: var(--color-magenta-light);
    --color-secondary: var(--color-ultraviolett);
    --color-grey: var(--color-kol-light);
}