.container {
    // --container-width: 80ch;

    width: min(var(--container-width, 80ch), 100vw - 3rem);
    margin-inline: auto;
}

// .container--sm {
//     --container-width: 30ch;
// }

.mbs {
    margin-block-start: min(4rem, 8vh);
}

