{%- from 'partials/skip-link/macro.njk' import skipLink -%}
{%- from 'partials/navbar/macro.njk' import navbar -%}
{%- from 'partials/header/macro.njk' import header -%}
<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;900&display=swap"
            rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet" />
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block skipLink %}
            {{ skipLink ({ 
                text: 'Gå till sidans innehåll',
                url: '#main-content' 
            }) }}
        {% endblock %}

        {% block navigation %}
            {{ navbar({ 
                brand: site.navigation.brand,
                menu: site.navigation.menu
            }) }}
        {% endblock %}

        {% block header %}
            {{ header({
                title: title
            }) }}
        {% endblock %}

        {% block main %}
        <main id="main-content" class="container mbs">
            {% block content %}{% endblock %}
        </main>
        {% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>
