{%- from 'partials/navbar/macro.njk' import navbar -%}

{% extends "layouts/base.njk" %}

{% block head %}
<link rel="stylesheet" href="{{ '/css/docs.css' | url }}" />
{% endblock %}

{% block navigation %}
{% set menudata = collections.docs %}

{{ navbar({
    brand: site.navigation.brand,
    menu: {
        items: [
            { title: 'Start' },
            { title: 'Docs', dropdown: true, collection: menudata }
        ]
    }
}) }}
{% endblock %}

{% block content %}
<p>
    docs layout
</p>
    {{ content | safe }}
{% endblock %}
