{% extends "layouts/base.njk" %}

{% block navbar %}

    {%- from 'partials/navbar/macro.njk' import navbar -%}

    {% set menudata = collections.docs %}

    {{ navbar({
        brand: site.navigation.brand,
        menu: {
            items: [
                { title: 'Start' },
                {title: 'Docs', dropdown: true, collection: menudata }
            ]
        }
    }) }}

{% endblock %}

{% block content %}
<main class="container mbs">
    {{ content | safe }}
</main>
{% endblock %}