.site_header {
    background-color: var(--color-primary);
    color: var(--color-background);
    
    h1 {
        --header-padding: var(--font-size-h3);
        padding-top: var(--header-padding, 2rem);
        padding-bottom: var(--header-padding, 2rem);
        text-transform: uppercase;
    }
}
